@media screen and (max-width: 420px) {
    .text-inside_rules {
        margin: 0;
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .h1-rules_img {
        margin: 0px;
    }

    .rules-images {
        width: 100%;
    }

    .rules-container {
        flex-direction: column;
        max-width: 420px;
    }

    .sec-contacts {
        margin: 0;
        padding: 0;
    }

    .map-div {
        flex-direction: column;
        gap: 15px;
       align-items: start;
        
    }
    .h1{
        font-size: 50px;
    }
    .p-textpic{
        font-size: 20px;
    }
    .buttonpic1{
        font-size: 10px;
        padding: 0;
    }
    .buttonpic2{
        font-size: 10px;
        padding: 0;
    }
    .h1-rules_img{
        font-size: 35px;
        padding: 5px;
    }
    .p-rules_img{
        font-size: 15px;
        padding: 15px;
    }
    .button-rules_img{
        padding: 20px;
    }

}